<aside class="left-sidebar">
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="./index.html" class="text-nowrap logo-img">
                <img src="@Url.Content("~/flexy-bootstrap-lite-1.0.0/assets/images/logos/logo.svg")" alt="Logo" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-6"></i>
            </div>
        </div>

        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="nav-small-cap">
                    <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                    <span class="hide-menu">ADMİN PANEL</span>
                </li>
                <li class="sidebar-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Categories" ? "active" : "")">
                    <a class="sidebar-link" href="/Categories/CategoryList" aria-expanded="false">
                        <i class="ti ti-atom"></i>
                        <span class="hide-menu">Kategoriler</span>
                    </a>
                </li>
                <li class="sidebar-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Sliders" ? "active" : "")">
                    <a class="sidebar-link justify-content-between" href="/Sliders/SliderList" aria-expanded="false">
                        <div class="d-flex align-items-center gap-3">
                            <span class="d-flex">
                                <i class="ti ti-aperture"></i>
                            </span>
                            <span class="hide-menu">Slider</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Products" ? "active" : "")">
                    <a class="sidebar-link justify-content-between" href="/Products/ProductList" aria-expanded="false">
                        <div class="d-flex align-items-center gap-3">
                            <span class="d-flex">
                                <i class="ti ti-shopping-cart"></i>
                            </span>
                            <span class="hide-menu">Ürünler</span>
                        </div>
                    </a>
                </li>
                <li class="sidebar-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Default" ? "active" : "")">
                    <a class="sidebar-link justify-content-between" href="/Default/Index" aria-expanded="false">
                        <div class="d-flex align-items-center gap-3">
                            <span class="d-flex">
                                <i class="ti ti-app-window"></i>
                            </span>
                            <span class="hide-menu">Siteye Git</span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
